<ion-header>
    <ion-navbar color ="primary">
        <ion-title>
      Sharing Community
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>



<ion-item>
  <p class="date"><ion-datetime float-end [(ngModel)]="date" displayFormat="MMMM DD, YYYY" min="2017" max="2100"></ion-datetime></p>
</ion-item>

<!-- <p align = "center" *ngFor = "let photo of photos"><img src = "{{photo.src}}"></p> -->
  
  <ion-card *ngFor = "let photo of this.dataService.photos"> 
        <ion-item>
          <ion-avatar>
            <img src = "{{this.dataService.avatar}}"/>
          </ion-avatar>
          <h2>{{this.dataService.user_name}}</h2>
          <h4>
          <ion-item>
            <ion-datetime [(ngModel)]="date" id = "datesize" displayFormat="MMMM DD, YYYY" min="2017" max="2100"></ion-datetime>
          </ion-item>
          </h4>
          <p>{{photo.description}}</p>
        
         
          <img src = "{{photo.src}}"/>
          <ion-row>
            <ion-col>
              <ion-item>
                <button ion-button icon-left clear small color = "primary" (click)= "likePhoto(photo)">{{photo.likes}}&nbsp;
                  <ion-icon name = "thumbs-up"></ion-icon>
                </button>
                <button ion-button icon-left clear small color = "primary" (click)= "sendSMS()">
                    <ion-icon name = "text"></ion-icon>
                </button>
                <button ion-button icon-left clear small color = "primary" (click)= "sendEmail()">
                  <ion-icon name = "mail"></ion-icon>
                </button>
                  
              </ion-item>
            </ion-col>
          </ion-row>
        
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-item>
              
          <ion-input type = "text" placeholder ="AddComment" [(ngModel)]="temp"></ion-input>
              
            </ion-item>
          </ion-col>
          <ion-col>
            <div style ="text-align: right">
              <button ion-button icon-end id="button" clear small color = "primary" (click)= "addComment(photo,temp)">
                <ion-icon name = "ios-arrow-dropright-circle-outline"></ion-icon>
              </button>
            </div>      
          </ion-col>
        </ion-row>
      


              <ion-list *ngFor ="let i of photo.comment">
                  <ion-item>
                      <ion-avatar><img src = "{{this.dataService.avatar}}"/></ion-avatar>
                      <h4> {{i}}</h4>
                  </ion-item>

              </ion-list>
         
         
  </ion-card>
 

</ion-content>
